table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 30%;
    height: 30%;
}
td {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    width: 30%;
}
.centrar {
    text-align: center;
    color: rgb(0, 0, 0);
}   
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    background-color: #0bce4c;
    text-align: center;
}