table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
    height: 50%;
}
td {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    width: 30%;
}
.centrar {
    text-align: center;
    color: rgb(0, 0, 0);
}   
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    background-color: #0bce4c;
    text-align: center;
}

th {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    width: 30%;
    background-color: #a1f5b1;
}

#volver {
    margin-top: 30%;
    padding: 20px 40px;
    font-size: 18px;
    background-color: #14e2e9;
    border-radius: 15px;
    align-items: left;
}