body{
    background-color: blue;
}

table, th, td {
    border: 3px solid grey;
    border-collapse: collapse;
    text-align: center;
    width: 10%; 
}

h1{
    color: white;
}

h2{
    color: white;
}