body{
    background-color: blue;
}

h1{
    color: yellow;
    text-align: center;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 50%;
    color: white;
    text-align: center;
}

th {
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
}

td {
    height: 40px;
}